header {
    display: flex;
    width: 100%;
    height: 70px;
    background: rgb(3,11,41);
    background: linear-gradient(90deg, rgba(3,11,41,1) 0%, rgba(27,27,159,1) 100%); 

    h1 {
        margin: auto auto auto 1%;
        color: white;
        font-weight: 800;
    }

    .menuDesplegar {
        width: 50px;
        margin: auto 1% auto auto;
        color: rgb(225, 243, 247);
        cursor: pointer;
        border-radius: 5px;
        &:hover{
           background: rgba(255, 255, 255, 0.144);
        }
    }
}

@media(max-width:574px){
    header{
        h1{
            font-size: 1.5rem;
        }
    }
  }